#sidebarwrap {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.35s;
}
#sidebar {
  transform: translateX(100%);
  animation: slide-in 0.35s ease forwards;
}
#sidebar.slide-out {
  animation: slide-out 0.35s ease forwards !important;
}
@keyframes slide-in {
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.form-group:focus-within [fType="lbl"] {
  color: #222;
  transform: translateY(-100%);
  transition: all 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.shrink {
  color: #222;
  transform: translateY(-100%);
}

input[type="radio"] {
  position: absolute;
  display: none;
}
input[type="radio"]:checked ~ .checkbox > span {
  display: inline-block;
}

input[type="radio"]:checked ~ .radio-label {
  background: #222 !important;
  color: #fff !important;
  border: #222 !important;
}

/* #cartPanel main::-webkit-scrollbar {
  display: none;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
input:autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  background-color: #f3f4f6 !important; 
}
