#sidebarwrap {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.35s;
}
#sidebar {
  transform: translateX(100%);
  animation: slide-in 0.35s ease forwards;
}
#sidebar.slide-out {
  animation: slide-out 0.35s ease forwards !important;
}
@keyframes slide-in {
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.form-group:focus-within [fType="lbl"] {
  color: #222;
  transform: translateY(-100%);
  transition: all 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.shrink {
  color: #222;
  transform: translateY(-100%);
}

input[type="radio"] {
  position: absolute;
  display: none;
}
input[type="radio"]:checked ~ .checkbox > span {
  display: inline-block;
}

input[type="radio"]:checked ~ .radio-label {
  background: #222 !important;
  color: #fff !important;
  border: #222 !important;
}

/* #cartPanel main::-webkit-scrollbar {
  display: none;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
input:autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  background-color: #f3f4f6 !important; 
}

/*
Code thừa:
ProductManage: 
    function detail($pid="") 
    {
        if(empty($pid)) {
            $this->index();
        }
        else {
            $productModel = parent::model("ProductModel");
            $categoryModel = parent::model("CategoryModel");
            
            $product = $productModel->getProductDetail(["MaSP" => $pid]); //Lấy thông tin sản phẩm theo product ID
            
            $categories = $categoryModel->getAllCategory(); //Lấy thông tin tất cả danh mục cho view option
            
            parent::view("Admin.Product.detail", [
                "product" => $product,
                "categories" => $categories,
            ]);
        }
    }

    function getQuantity() {
    //     if(isset($_POST['pid']) && isset($_POST['size'])) {
    //         $pid = $_POST['pid'];
    //         $sizes = $_POST['size'];
    //         $productModel = parent::model("ProductModel");

    //         foreach ($sizes as $size) {
    //             $quantityByVariant = $productModel->getQuantity([
    //                 "MaSP" => $pid,
    //                 "MaSize" => $size,
    //             ]);
    //             if($quantityByVariant > 0) {
    //                 echo $quantityByVariant;
    //                 break;
    //             }
    //         }
    //     } else {
    //         echo 0;
    //     }
    // }

    Discount Manage
    public function formAddAuto() {
        $productModel = parent::model("ProductModel");
        $products = $productModel->getAllProduct();
        
        parent::view("Admin.Discount.auto_add", [
            "products" => $products
        ]);
    }

    Category Manage
        function updateCategory()
    {
        if(isset($_POST['submit'])) {
            $data['TenDanhMuc'] = $_POST['name'];
            $data['MoTa'] = $_POST['describe'];
            $id = $_POST['id'];

            // $this->print($data);

            $categoryModel = parent::model("CategoryModel");
            if($categoryModel->updateCategory(['MaDanhMuc' => $id], $data)) {
                header("Location: ".BASE_URL."/CategoryManage/");
            } else header("Location: ".BASE_URL."/CategoryManage/Detail/$id");
        } 
        else header("Location: ".BASE_URL."/CategoryManage/");
    }

    Discount Manage
        public function formAdd() {
        parent::view("Admin.Discount.add", []);
    }

    Product Search index method:
    if (strtolower($this->params[0]) === "search") {
            $keyword = "";
            if (isset($_POST['keyword'])) {
                $keyword = $_POST['keyword'];
            }
            $productModel = parent::model("ProductModel");
            $products = $keyword != "" ? $productModel->search($keyword) : [];


            parent::view("Templates.search", [
                "result" => $keyword,
                "products" => $products
            ]);
            return;
        }

    Product Model: 
        function search($keyword)
    {
        $selfTable = self::TABLE;
        $table = "$selfTable sp1 join $selfTable sp2 ON sp1.MaSP = sp2.MaSP AND sp1.TenSP LIKE '%$keyword%'";
        return $this->getAllRecords($table,["sp1.MaSP","sp1.TenSP","sp1.Hinh1","sp1.DonGia","sp1.ChietKhau"],[], [5]);
    }

    Category Manage:
        //Màn hình chi tiết danh mục
    function detail($categoryID = "") {
        if(empty($categoryID)) {
            $this->index();
        }
        else {
            $categoryModel = parent::model("CategoryModel");
            $productModel = parent::model("ProductModel");
            $categories = $categoryModel->getCategory(["MaDanhMuc" => $categoryID]);
            
            $products = $productModel->getAllProduct([],["DanhMuc" => $categoryID]);
            parent::view("Admin.Category.detail", [
                "categoryDetail" => $categories,
                "products" => $products
            ]);
        }
    }
*/